<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="blog-article" mode="x-component">

  <template autobem="true">
    <article>

      <x-slot name="heading">
        <h1 class="__heading">
          <x-slot-content />
        </h1>
      </x-slot>

      <div class="__content">
        <x-slot />
      </div>

    </article>
  </template>

  <style autobem="true">
    .\$ {
      max-width: 20em;
      padding: 1em;
      border: 1px solid #999;
    }
    .\$__heading {
      font-size: 2em;
      font-weight: bold;
      margin: 0 0 1em 0;
    }
    .\$__content {
      font-size: 1em;
    }
  </style>

</xsl:template>
</xsl:transform>
