<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="todo-app" mode="x-component">

  <template>
    <div>

      <form class="$form">
        <input type="text" class="$text" />
        <button type="submit">Add todo</button>
      </form>

      <div class="$todos">
        <todo-item>Buy milk</todo-item>
        <todo-item>Buy bread</todo-item>
      </div>

    </div>
  </template>

  <custom-elements xslt-import-url="./includes.xsl">
    <todo-item />
  </custom-elements>

  <script autoselect="true">/*<![CDATA[*/
    $refs.form.addEventListener('submit', function (e) {
      e.preventDefault();
      $refs.todos.insertAdjacentHTML('beforeend',
        '<todo-item>' + $refs.text.value + '</todo-item>'
      );
    });
  /*]]>*/</script>

</xsl:template>
</xsl:transform>
