<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="todo-app" mode="x-component">

  <template>
    <div>

      <form v-on..submit.prevent="addTodo">
        <input type="text" ref="text" />
        <button type="submit">Add todo</button>
      </form>

      <div>
        <todo-item v-for="todo in todos">{{ todo }}</todo-item>
      </div>

    </div>
  </template>

  <custom-elements xslt-import-url="./includes.xsl">
    <todo-item />
  </custom-elements>

  <script petitevue="true">
    return {
      todos: ['Buy milk', 'Buy bread'],
      addTodo() {
        this.todos.push(this.$refs.text.value);
      },
    }
  </script>

</xsl:template>
</xsl:transform>
